<div>
    <h3>Onderwerpen</h3>
    <table>
        <tbody>
            <tr>
                <td class="tabledesig"><a id="modreleaselink" (click)="GoToModRelease()">Mod Releases</a></td>
                <td class="tabledescr"><p>Hier vindt je de laatste releases van alle mods</p></td>
            </tr>
            <tr>
                <td class="tabledesig"><a id="discussielink" (click)="GoToDiscussie()">Discussie</a></td>
                <td class="tabledescr"><p>Hier vindt je de discussies over mod features of wat je graag wilt zien</p></td>
            </tr>
            <tr>
                <td class="tabledesig"><a id="memeslink" (click)="GoToMemes()">Memes</a></td>
                <td class="tabledescr"><p>Alle grappen over Fictivus</p></td>
            </tr>
        </tbody>
    </table>
</div>


