<div>
    <table>
        <thead>
            <th><t3>Titel</t3></th>
            <th><t3>Gebruiker</t3></th>
        </thead>
        <tbody>
            <tr  *ngFor="let topic of topic">
                <td><a (click)="GoToTopic(topic.title)">{{topic.title}}</a></td>
                <td>{{topic.username}}</td>
            </tr> 
         </tbody>
    </table>
    <button (click)="postTopic()">Post Topic</button>
<p class="error">{{ErrorMessage}}</p>
<topicbuilder *ngIf="!called" [subject]="memes"></topicbuilder>
</div>
