<div>
    <table>
        <thead>
            <th><h3>Titel</h3></th>
            <th><h3>Gebruiker</h3></th>
        </thead>
        <tbody>
            <tr  *ngFor="let topic of topics">
                <td><a (click)="GoToTopic(topic.title)">{{topic.title}}</a></td>
                <td>{{topic.userName}}</td>
            </tr> 
         </tbody>
    </table>
    <button (click)="PostTopic()">Post Topic</button>
<p class="error">{{ErrorMessage}}</p>
<app-topicbuilder *ngIf="called" [subject]="'discussie'"></app-topicbuilder>
</div>
